SetEnv PHP_VER 5_3 
SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1
SetEnv MAGIC_QUOTES 0

# Disable server signature
ServerSignature Off

# Protection de la lecture des répertoires
Options -Indexes

AddDefaultCharset UTF-8

ErrorDocument 404 /erreur-404.php

RewriteEngine on
RewriteCond %{HTTP_HOST} !www\.URL-DU-SITE.fr$
RewriteRule ^(.*) http://www.URL-DU-SITE.fr/$1  [QSA,L,R=301] 
RewriteCond %{THE_REQUEST} ^(GET|POST|HEAD)\ (/.*)?/index.(php)
RewriteRule ^(.*)index.(php)$ /$1 [R=301,L]
  